---
title: Home 
subtitle:  
description: Landing page for Act-EPR 
---

{% extends "fullwidth.j2" %}

{% block container %}
<br />
<div class="container"><!-- Container -->
    <div class="row">
    <div class="col-md-7 footer-widget"><!-- Text Widget -->
        <p style="margin-right: 50px; text-align: justify;">In order to keep up with societal challenges of the 21st century, we must devise sustainable ways to efficiently store and retrieve energy from hydrogen. This &ldquo;hydrogen economy&rdquo; is one path for the future of clean energy. Nature's solution to this challenge is a branch of enzymes called hydrogenases which typically use an organometallic active-site to reversibly split molecular hydrogen to hydrogen-ions and energy, in the form of electrons. Here, we choose to focus on [FeFe]-hydrogenase due to its high catalytic behavior. To understand these metallo-enzymes we must be able to study the enzymes grown as a single crystal. </p>
        <p style="margin-right: 50px; text-align: justify;"><b>Single crystal protein Electron Paramagnetic Resonance (EPR) experiments are the ultimate method to study the paramagnetic states of hydrogenases and obtain the full magnetic interactions reflecting the electronic structure of the active site.</b> Ultimately the catalytic activity of the hydrogenase can be understood by relating the information of the magnetic principal axes to the known protein structure of the enzyme. However, the application of single-crystal EPR is severely limited by the small crystals sizes that are usually available (sub-nanoliter to nanoliter volumes). The Key Enabling Technologies outlined in this fellowship have the potential to increase the sensitivity of EPR by a <b>factor of 30</b> through the application of highly innovative concepts based on planar micro-resonators (PMR). </p>
        <p style="margin-right: 50px; text-align: justify;"> The technology in this fellowship provides the sensitivity needed for the Act-EPR project to     be the first to study single crystals of the [FeFe]-hydrogenase enzyme with X-band EPR and advance the &ldquo;hydrogen economy&rdquo;.</p>
        <br />
    </div>
    <div style="margin-top: 25px; text-align: center;" class="col-md-5 footer-widget"><!-- Text Widget -->
        <img src="./media/img/act-epr.png" />
    </div>
</div>
{% endblock container %}
