---
title: Home 
subtitle:  
description: Landing page for Act-EPR 
---

{% extends "fullwidth.j2" %}

{% block container %}
<br />
<div class="container"><!-- Container -->
    <div class="row">
    <div class="col-md-offset-1 col-md-10 footer-widget"><!-- Text Widget -->
    <table id="pubTable" class="display"></table>
    <p style="font-size: small;">* Papers and presentations before the start date of Act-EPR are supplimental material.</p>
    </div>
 <link rel="stylesheet" href="/media/css/bib-publication-list.css"/>
    <script type="text/javascript" src="/media/js/bib-list.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
                bibtexify("/media/sidabras.bib", "pubTable", {'tweet': ''});
                    });
    </script>
    </div>
</div>
<br />
<br />
{% endblock container %}
