---
title: Work Package 1 - Micro-Helix Resonators 
subtitle:
description: Act-EPR is a Marie Skłodowska-Curie Individual Fellowship interested in the creation of new Electron Paramagnetic Resonance technology in order to study protein single crystals of the hydrogen splitting enzyme, [FeFe] Hydrogenase.
---
{% block css %}
<style>
img.float1 {
    float: left;
    margin: 0 20px 20px 0;
    width: 200px;
}
p {
    text-align: justify;
        text-indent: 2em;
}
</style>
{% endblock %}
{% block container %}
    <h2>Work Package 1 - Micro-Helix Resonators</h2>
    <br>
    <div class="container"><!-- Container -->
      <div class="row">
        <div class="col-md-8 footer-widget"><!-- Text Widget -->
          <div style="text-align: justify;">
<img class="float1" title="micro-helix " alt="micro helix geometry and magnetic field distribution" src="/media/img/wp1/microhelix.png">
            <p>Helical resonators were introduced to EPR in the late-1950s as a
              method to increase the magnetic field of a non-resonant shorted
              waveguide. The helices that were described in the literature were
              designed as slow-wave broadband focusing-resonators affixed to the
              bottom of a waveguide short. The sample was placed within the
              helix. Although this improved the filling factor of the shorted
              waveguide, it had a Q-value essentially at unity but could be matched
              with a slide-screw tuner. I propose re-evaluating the helix for
              extremely limited samples in EPR, the first prototype tested is
              shown in Fig. 1A, simulated fields in Fig. 1B. With the
              self-resonant micro-helix described here, at least a factor of 10 
              in EPR signal intensity has been simulated and experimentally
              confirmed in preliminary experiments. Simulation results are shown
              in Table 1.</p>
            <p>Recently, the micro-helix has gained some popularity in the NMR
              literature for micro-fluidic environments. However, these coils
              resonate well below 500 MHz, are typically not self-resonant, and
              do not employ inductive coupling techniques. Extending these
              geometries to X-band (9.5 GHz) and implementing a mutual
              inductance coupling system are considered highly innovative.
              Furthermore, the 0.17 mm micro-helix geometry cannot currently be
              built by ordinary techniques. Therefore, such techniques as
              three-dimensional printing are being investigated. Taking
              advantage of this technology, a micro-helix with inner diameters
              down to 0.17 mm can be reproducibly constructed.</p>
            <p>Three characteristics differentiate the proposed micro-helix
              configuration from those described in literature: </p>
            <ol type="i">
              <li> The helix is <b>self-resonant</b>, meaning that the self-inductance
                per loop and self-capacitance between the loops resonate at a
                frequency determined by &omega;&radic;LC = 1, where is the resonant frequency &omega; in
                radians/s. No external capacitors are used, minimizing losses. </li>
              <li> The helix length is <b>much smaller than a wavelength</b>, which
                increases the uniformity, and the diameter is less than 0.4 mm
                at X-band, which increases the resonator efficiency. </li>
              <li> That the helix is <b>coupled by mutual inductance</b>, which can be
                designed to minimize noise and further increase the EPR signal
                intensity.</li>
            </ol>
            </br>
            <center>
            <img style="width:500px" src="/media/img/wp1/table1.png">
            </center>
            </br>
            </br>
            <p>
            Table 1 presents simulated resonator characteristics of a few
            geometries of interest with all EPR signals volume normalized. For
            comparison, an X-band (9.5 GHz) dielectric cavity resonator (DR) is
            presented. This is a standard cavity that can be purchased from
            Bruker BioSpin, the leading EPR spectrometer manufacturer. EPR
            Signal improvements and Λmax-Λave ratios are encouraging.
            Simulations show the microwave field of the PMR
            has at least a 21% inhomogeneity within a sample of dimensions 0.1
            mm diameter by 0.1 mm height. In contrast, the micro-helix of Fig.
            1B has 4.5% variation.
            </p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    {% endblock container %}
  </body>
</html>
