---
title: WP3 - Biological Research 
subtitle:
description: Act-EPR is a Marie Skłodowska-Curie Individual Fellowship interested in the creation of new Electron Paramagnetic Resonance technology in order to study protein single crystals of the hydrogen splitting enzyme, [FeFe] Hydrogenase.
---
{% block css %}
<style>
img.float1 {
    float: left;
    margin: 0 20px 20px 0;
    width: 200px;
}
p {
    text-align: justify;
        text-indent: 2em;
}
</style>
{% endblock %}
{% block container %}
    <h2>Work Package 3 - Biological Research</h2>
    <br>
    <div class="container"><!-- Container -->
      <div class="row">
        <div class="col-md-8 footer-widget"><!-- Text Widget -->
          <div style="text-align: justify;">
            <p></p>
          </div>
        </div>
      </div>
    </div>
{% endblock container %}
