{% extends "base.j2" %}

{% block container %}
  <div class="col-md-9">
    <header>
    <h1>{{resource.meta.title}}</h1>
      <div class="meta">
        <small><i class="fa fa-calendar"></i>{{resource.meta.created.strftime('%A %d %B %Y') }}</small>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <small>
          <i class="fa fa-folder"></i>
          {% for tag in resource.meta.tags %}
            <a href="/blog/tags/{{tag}}.html">{{tag}}</a>{% if not loop.last -%},{%- endif %}
          {% endfor %}
        </small>
      </div>
      <hr style="margin-bottom: 2em;" />
    </header>
      {% mark article %}
      {% filter markdown -%}
        {% block article %} {% endblock %}
      {%- endfilter %}
      {% endmark %}
    </div>

  </div>
{% endblock %}
