---
title: DATA files and geometries 
subtitle:  
description: Act-EPR is a Marie Skłodowska-Curie Individual Fellowship interested in the creation of new Electron Paramagnetic Resonance technology in order to study protein single crystals of the hydrogen splitting enzyme, [FeFe] Hydrogenase.
---
{% block endhead %}
<script>
function loadthing()
{
document.getElementById('vs_iframe').contentWindow.postMessage({msg_type:'load', url:'http://act-epr.org/media/ReEntrantTE01U.stl'}, '*');
setTimeout(function(){
document.getElementById('vs_iframe').contentWindow.postMessage({msg_type:'set_shading', type:'smooth'}, '*');
document.getElementById('vs_iframe').contentWindow.postMessage({msg_type:'set_bgcolor', value:'#E6E6E6'}, '*');
}, 1000);
}
</script>
{% endblock endhead %}

{% block container %}
<br />
<div class="container"><!-- Container -->
    <div class="row">
    <div class="col-md-9 footer-widget"><!-- Text Widget -->
        <p style="margin-right: 50px; text-align: justify;"><b>Re-Entrant Cylindrical TE<sub>01U</sub> Cavity: </br>
<iframe onload="loadthing()" id="vs_iframe" src="http://www.viewstl.com/?embedded" style="border:0;margin:0;width:100%;he    ight:800px;"></iframe>        
</br>
       <a href="/media/data/ReEntrantTE01U.stl">stl</a>&nbsp;&nbsp;<a href="/media/data/ReEntrantTE01U.pdf">pdf</a> 
        <br />
    </div>
</div>
</div>
</div>
{% endblock container %}
